body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("images/viking.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/forest.jpg"); 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
.index-btn {
    background: transparent;
    color: #ffffffc2;
    border: .5px solid rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Amiri', serif;
    text-decoration: none;
    position: absolute;
    top: 70%;
    left: 20%;
}
p {
    color: rgb(252, 252, 252);
}
h1 {
    text-align: center;
}

h2, .wrap {
    color: white;
    border: 1px solid white;
    text-align: center;
}
#right {
    letter-spacing: 3px;
    padding-bottom: 20px;
}
.restart a {
    background: transparent;
    color: #ffffffc2;
    border: .5px solid rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Amiri', serif;
    text-decoration: none;

}
.sword {
    width: 100%;
}
a {
    color:white;
    text-decoration: none;
    font-family: 'Amiri', serif;
}
a:hover 
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}
.front-btn {
    background: transparent;
    border: .5px solid rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    padding: 5px 20px;
    position: absolute;
    top: 80%;
    left: 46%;
}
@font-face {
    font-family:"Rune";
    src:url("fonts/Rune/rune.eot") format("eot"),
    url("fonts/Rune/rune.woff") format("woff"),
    url("fonts/Rune/rune.ttf") format("truetype"),
    url("fonts/Rune/rune.svg") format("svg");
    font-weight:normal;font-style:normal;
}

.runes {
    margin-top: 30px;
    text-align: center;
    font-family: 'Rune';
    color: white;
}

  